In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('intermediate.csv',index_col=0)
df.head(10)

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,pctimestring,homedescription,neutraldescription,visitordescription,score,...,play_elapsed_time,total_elapsed_time,max_time,time_remaining,h_lineup,a_lineup,rebound_type,home_poss,away_poss,has_ball
0,22300142,2,12,0,1,12:00,NaN,Start of 1st Period (6:12 PM EST),NaN,NaN,...,0.0,0.0,2880.0,2880.0,"('1628378', '1628386', '1629622', '1629636', '...","('201939', '202691', '203110', '203952', '1626...",NaN,0,1.0,away
1,22300142,4,10,0,1,12:00,Jump Ball Allen vs. Looney: Tip to Green,NaN,NaN,NaN,...,0.0,0.0,2880.0,2880.0,"('1628378', '1628386', '1629622', '1629636', '...","('201939', '202691', '203110', '203952', '1626...",NaN,0,1.0,away
2,22300142,7,1,1,1,11:40,NaN,NaN,Green 3PT Jump Shot (3 PTS) (Looney 1 AST),3 - 0,...,20.0,20.0,2880.0,2860.0,"('1628378', '1628386', '1629622', '1629636', '...","('201939', '202691', '203110', '203952', '1626...",NaN,0,1.0,away
3,22300142,9,2,101,1,11:19,MISS Garland 12' Driving Floating Jump Shot,NaN,NaN,NaN,...,21.0,41.0,2880.0,2839.0,"('1628378', '1628386', '1629622', '1629636', '...","('201939', '202691', '203110', '203952', '1626...",NaN,1,0.0,home
4,22300142,10,4,0,1,11:17,Allen REBOUND (Off:1 Def:0),NaN,NaN,NaN,...,2.0,43.0,2880.0,2837.0,"('1628378', '1628386', '1629622', '1629636', '...","('201939', '202691', '203110', '203952', '1626...",ORB,1,0.0,home
5,22300142,11,1,1,1,11:13,Mitchell 25' 3PT Jump Shot (3 PTS) (Allen 1 AST),NaN,NaN,3 - 3,...,4.0,47.0,2880.0,2833.0,"('1628378', '1628386', '1629622', '1629636', '...","('201939', '202691', '203110', '203952', '1626...",NaN,1,0.0,home
6,22300142,13,5,1,1,10:58,Strus STEAL (1 STL),NaN,Thompson Bad Pass Turnover (P1.T1),NaN,...,15.0,62.0,2880.0,2818.0,"('1628378', '1628386', '1629622', '1629636', '...","('201939', '202691', '203110', '203952', '1626...",NaN,0,2.0,away
7,22300142,15,1,106,1,10:52,Mobley 1' Running Alley Oop Dunk Shot (2 PTS) ...,NaN,NaN,3 - 5,...,6.0,68.0,2880.0,2812.0,"('1628378', '1628386', '1629622', '1629636', '...","('201939', '202691', '203110', '203952', '1626...",NaN,2,0.0,home
8,22300142,17,1,79,1,10:39,NaN,NaN,Thompson 18' Pullup Jump Shot (2 PTS) (Looney ...,5 - 5,...,13.0,81.0,2880.0,2799.0,"('1628378', '1628386', '1629622', '1629636', '...","('201939', '202691', '203110', '203952', '1626...",NaN,0,3.0,away
9,22300142,19,6,26,1,10:24,Mobley Offensive Charge Foul (P1) (R.Mott),NaN,NaN,NaN,...,15.0,96.0,2880.0,2784.0,"('1628378', '1628386', '1629622', '1629636', '...","('201939', '202691', '203110', '203952', '1626...",NaN,3,0.0,home